:root {
  --twinkle-duration: 4s;
}

.bg-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(#16161d, #271f3a, #232658);

  .stars-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;

    .star {
      fill: white;

      &:nth-child(3n) {
        opacity: 0.8;
      }

      &:nth-child(7n) {
        opacity: 0.6;
      }

      &:nth-child(13n) {
        opacity: 0.4;
      }

      &:nth-child(19n) {
        opacity: 0.2;
      }
    }

    .stars {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      animation: twinkle var(--twinkle-duration) ease-in-out infinite;

      &:nth-child(2) {
        animation-delay: calc(var(--twinkle-duration) * -0.33);
      }

      &:nth-child(3) {
        animation-delay: calc(var(--twinkle-duration) * -0.66);
      }
    }

    .comet {
      transform-origin: center center;
      animation: comet 10s linear infinite;
    }

    .comet-b {
      animation-delay: -3.3s;
    }

    .comet-c {
      animation-delay: -5s;
    }
  }
}

@keyframes twinkle {
  25% {
    opacity: 0;
  }
}

@keyframes comet {
  0%,
  40% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60%,
  100% {
    transform: translateX(-100vmax);
    opacity: 0;
  }
}

@keyframes halo {
  from {
    opacity: 0.05;
    box-shadow: 0 0 0 0.1 white;
  }

  to {
    opacity: 0.05;
    box-shadow: 0 0 0 1em white;
  }
}
