.branch {
  --max-size: 2rem;
  --multiplier: 1.65;

  position: absolute;
  max-width: fit-content;
  max-height: calc(var(--max-size) * var(--multiplier));

  &:has(.grass) {
    --multiplier: 1;
  }

  &:is(.f2) {
    .flower {
      &:nth-child(1) {
        transform: rotate(-20deg) !important;
      }

      &:nth-child(2) {
        transform: rotate(20deg) translate(-50%, -100%) !important;
      }
    }
  }

  &:is(.f3) {
    .flower {
      transform: translateY(-200%) !important;

      &:nth-child(1) {
        transform: rotate(-35deg) !important;
      }

      &:nth-child(2) {
        transform: rotate(35deg) translate(-95%, -80%) !important;
      }
    }
  }
}
